.module-sidebar {
  background-color: #F0F0F0;
  padding: 10px;
  width: 200px;
  height: 100%;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.module-sidebar nav ul {
  display: flex; 
  flex-direction: column;  
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: aliceblue;
}

.module-sidebar nav li {
  margin-bottom: 10px;
  font-size: 15px;
  margin-right: 2px;
  font-weight: 100;
  padding: 10px;
  display:inline-block ; 
  display: flex;
  align-items: center;
  box-sizing: border-box; 
  width: 100%;
}


.module-sidebar nav li .nav-text {
  margin-left: 5px;
  display: inline-block;
}

.module-sidebar nav ul li:hover {
  background-color: #BEBEBE;
  font-weight: bold;
}

.module-sidebar nav ul li.selected {
  background-color: #BEBEBE;
  font-weight: bold;
}

.module-sidebar .nav-link {
  align-items: center;
  text-decoration: none;
  box-sizing: border-box; 
  color: inherit;
  display:inline-block ; 
 display: flex;
}

.module-sidebar .nav-link:hover {
  background-color: #BEBEBE;
  font-weight: bold;
}










