:root {
  --my-color: #0000ff;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: black;
  height: 50px;
  padding: 0 60px;
  box-sizing: border-box;

}

.logo {
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: 900;
  color: var(--my-color);

}
.nav-logo {
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: 900;
  color: var(--my-color);
  text-decoration: none;


}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  height: 40px;
  margin-right: 5px;
}
.learner{
  margin-right:10px;
}

.navbar2 {
  display: flex;
  align-items: center;
  background-color: rgb(5, 25, 32);
  color: white;
  height: 60px;
  padding: 0 60px;
  box-sizing: border-box; 
}

.user-id{
  padding-right: 25px;


}
.program{
  font-size: medium;
  font-weight: 600;
}
.navbar3{
  display: flex;
  align-items: center;
  background-color: rgb(5, 25, 32);
  color: white;
  height: 40px;
  padding: 0 60px;
  box-sizing: border-box; 
}
.dropdown-menu {
 
  display: flex;
  flex-direction:column;
}

.columns{
  display: flex;
  padding-top: 2px;
  
}
.column{
  padding: 8px;
}
